page-home {
    
    .background{
        background-color:#2B2B2B;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
         
     }

     #contador > span {
         color: whitesmoke;
         font-size: 4cm;         
     }


     #contador {
         border-radius: 50%;
         height: 50%;
         width: 100%;
         border: 1px solid white;
         background-color: #2b2b2b;
         margin: 20% 0;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     #contador:hover,
     #contador:focus {
        background-color: none;
    }

    #btnZerar {
        margin: 0 35%;
    }
    
}


